.promo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
      background-color: rgba(87, 110, 129, 0.5); /* Blanc à 50% d'opacité */

}

.promo-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  overflow: hidden;
  min-width: 00px;
  width: 48%;
  max-width: 600px;
  height: 100px;
  color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.promo-text {
  padding: 20px;
  max-width: 60%;
}

.promo-text h3 {
  font-size: 20px;
  margin: 0 0 8px;
  font-weight: bold;
}

.promo-text p {
  font-size: 14px;
  margin: 0;
}

.promo-image {
  height: 100%;
  width: auto;
  object-fit: cover;
  flex-shrink: 0;
}

.pink {
  background-color: #ec008c;
}

.yellow {
  background-color: #ffdb3b;
  color: #044b1b;
}

@media (max-width: 768px) {
  .promo-container {
    flex-direction: column;
    align-items: center;
  }

  .promo-card {
    width: 100%;
        max-width: 800px;
          height: 70px;



  }

  .promo-text h3 {
    font-size: 10px;
  }

  .promo-text p {
    font-size: 9px;
  }

  .promo-image {
    height: 80px;
    width: auto;
  }
}
